div{
    color: #37393A;
    font-size: 12px;
    font-family: proxima-nova,sans-serif;
}
strong{
    font-size: larger;
    text-align: center;
}
.mat-dialog-title {
    font: 700 20px/32px Roboto,"Helvetica Neue",sans-serif;
}